body {
    background-color: rgb(59, 57, 57);
}

#emojis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#emojis>.emoji {
    margin: 0.5em;
    padding: 1em;
    background-color: rgb(83, 81, 81);
    border-radius: 1em;
}

#emojis>.emoji>img {
    width: 2em;
    height: 2em;
}

#emojis>.emoji>p {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(39, 37, 37);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    font-size: 1.5em;
    color: rgb(196, 196, 196);
}

#emojis>.emoji:hover>p {
    display: initial;
}